@charset "UTF-8";

:root{
    --fundo-padrao: #F4F6F9;
    --fundo-header: #000000;
    --fundo-nav: #414141;
    --texto-padrao: #111111;
    --header-inverso:#FFFFFF;
    --destaque: #2563EB;
    --destaque-inverso: #8FB3FF;
    --texto-agradavel: #555;

    --fonte-titulo: "Inter", sans-serif;
    --fonte-padrao: "Merriweather", serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--fundo-padrao);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--fundo-header);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-titulo);
    margin-bottom: 20px;
    font-size: 3.5em;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.116);
    font-weight: 800;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 50px;
}

nav {
    background-color: var(--fundo-nav);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(255, 255, 255, 0.212);
    text-align: center;
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: none;
    color: rgb(145, 140, 140);
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: var(--fundo-padrao);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

main h1 {
    color: black;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    font-weight: 800;
    line-height: 1.1;
    margin-top: 30px;
}

.subtitulo {
    color: var(--texto-agradavel);
}








